<nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000">
  <div class="container-fluid">
    <!-- Navbar brand -->

    <div class="collapse navbar-collapse" id="navbarExample01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#certifications">Certifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>

      <ul class="navbar-nav d-flex flex-row">
        <!-- Icons -->
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="https://www.instagram.com/mechatron2022/" rel="nofollow" target="_blank">
            <fa-icon class="appearance" [icon]="faInstagram"></fa-icon>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="https://www.linkedin.com/in/dinesh-dixit" rel="nofollow" target="_blank">
            <fa-icon class="appearance" [icon]="faLinkedin"></fa-icon>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="https://github.com/Mechatron00" rel="nofollow" target="_blank">
            <fa-icon class="appearance" [icon]="faGithub"></fa-icon>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="https://www.behance.net/dineshdixit" rel="nofollow" target="_blank">
            <fa-icon class="appearance" [icon]="faBehance"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Carousel wrapper -->
<div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel" >
  <!-- Inner -->
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
        <div class="d-flex justify-content-center align-items-center greeting">
          <div class="text-white text-center" style="margin-top: 50px">
            <h1 class="mb-3">Welcome to my portfolio!</h1>
            <h5 class="mb-4">
              I am a full time coder and part time reader.A photographer by
              passion.
            </h5>
            <h4 class="mb-5">Let's connect.</h4>
            <a class="btn btn-outline-light btn-lg m-2 button-mobile" href="https://www.instagram.com/mechatron2022/"
              role="button" rel="nofollow" target="_blank">
              <fa-icon class="" [icon]="faInstagram"></fa-icon>
            </a>
            <a class="btn btn-outline-light btn-lg m-2 button-mobile" href="https://www.linkedin.com/in/dinesh-dixit"
              target="_blank" role="button">
              <fa-icon class="" [icon]="faLinkedin"></fa-icon></a>
            <a class="btn btn-outline-light btn-lg m-2 button-mobile" href="https://github.com/Mechatron00"
              target="_blank" role="button">
              <fa-icon class="" [icon]="faGithub"></fa-icon></a>
            <a class="btn btn-outline-light btn-lg m-2 button-mobile" href="https://www.behance.net/dineshdixit"
              target="_blank" role="button">
              <fa-icon class="" [icon]="faBehance"></fa-icon></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Main layout-->
<main class="mt-5" >
  <div class="container" >
    <!--Section: Content-->
    <section id="about" >
      <div class="row">
        <div class="col-md-6 gx-5 mb-4">
          <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
            <img src="../../assets/dp.jpg" id="cardPic" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </a>
          </div>
        </div>

        <div class="col-md-6 gx-5 mb-4">
          <h4><strong>About me</strong></h4>
          <p class="text-muted">
            Hello, I'm a Bachelor's degree holder in Engineering. I am a
            mechanical engineer with a passion for software development and
            expertise in Java Full Stack Development. I possess a strong
            foundation in mechanical engineering principles combined with
            comprehensive training in full stack Java development, including
            Angular.
          </p>

          <p><strong>Skills:</strong></p>
          <p class="text-muted">
            - Java: Proficient in Java programming language, with hands-on
            experience in developing scalable and efficient applications.<br />
            - Full Stack Development: Skilled in end-to-end development using
            Java frameworks, including Spring Boot, Hibernate, and RESTful
            APIs.<br />
            - Angular: Experienced in building dynamic and responsive web
            applications using Angular, HTML, CSS, and JavaScript.<br />
            - Database Management: Proficient in working with MySQL database,
            ensuring optimal data storage and retrieval.<br />
            - Problem-Solving: Strong analytical and problem-solving abilities,
            with a focus on delivering innovative and efficient solutions.<br />
            - Project Management: Proven track record of successfully completing
            projects within deadlines, coordinating teams, and ensuring
            high-quality deliverables.
          </p>
          <p><strong>Professional Development:</strong></p>
          <p class="text-muted">
            - Full Stack Java Course: Completed an intensive training program
            covering Java programming, Spring Boot, Hibernate, and front-end
            development using Angular. <br />
            - Angular Course: Successfully completed a comprehensive course on
            Angular, gaining expertise in building dynamic and responsive web
            applications.<br />

            As a motivated and adaptable, I am eager to leverage my mechanical
            engineering background and Java Full Stack development skills to
            contribute to innovative projects as a fresher. I thrive in
            collaborative environments and am committed to delivering
            high-quality solutions that exceed expectations.<br />

            Open to new opportunities as a Java Full Stack Developer. Let's
            connect and explore how my skills and experience can bring value to
            your organization.
          </p>
        </div>
      </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />
    <h4 class="mb-5 text-center" id="certifications"><strong>Certifications</strong></h4>
    <app-certifications></app-certifications>

    <hr class="my-5" />
    <h4 class="mb-5 text-center"><strong>Skills</strong></h4>
    <mat-chip-listbox class="mat-mdc-chip-set-stacked">
      <mat-chip-option *ngFor="let chip of availableColors" selected selectable="false" [color]="chip.color">
        {{ chip.name }}
      </mat-chip-option>
    </mat-chip-listbox>

    <hr class="my-5" />
    <!--Section: Content-->
    <section class="text-center" id="projects">
      <h4 class="mb-5"><strong>Projects</strong></h4>

      <div class="row">
        <!-- Resume builder -->
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="../../assets/project-images/resume-builder.png" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Resume-Builder</h5>
              <p class="card-text">
                A Java + Angular Full stack Application. User can create account, fill details, manage dashboard. Resume will be generated automatically. Templates to download resumes.
              </p>
              <a href="#!"><button type="button"  
                class="btn btn-primary open-button"
                placement="top"
	              ngbPopover="Link will be activated after project upload."
	              popoverTitle="Not uploaded yet."
                >Open</button ></a>
            </div>
          </div>
        </div>
        <!-- Employee-Management-System -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="../../assets/project-images/employee-mgnt-sys.png" class="img-fluid" />
              <!-- <a href="https://github.com/Mechatron00/employee-management-system.git" target="_blank">
      
              </a> -->
            </div>
            <div class="card-body">
              <h5 class="card-title">Employee-Management-System</h5>
              <p class="card-text">
                A Fullstack Application using Java and Angular.Application to manage employee data.Application is well designed and maintained with Angular material.
              </p>
              <a href="https://github.com/Mechatron00/employee-management-system.git" target="_blank"
                class="btn btn-primary open-button">Open</a>
            </div>
          </div>
        </div>
        <!-- Task-Assignment -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="../../assets/project-images/task-assignment.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Task-Assignment</h5>
              <p class="card-text">
                Task-Management Application is developed using Spring-MVC-JSP. A small scale task-management application to assign tasks and keeping records.Useful for small startups or institutes.
              </p>
              <a href="https://github.com/Mechatron00/Task-Assignment-SpringBoot-MVC.git" target="_blank"
                class="btn btn-primary open-button">Open</a>
            </div>
          </div>
        </div>
        <!-- Web-Resume -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="../../assets/project-images/web-resume.png" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Web-Resume</h5>
              <p class="card-text">
                Web-Resume is web-page  showing personal career details or we can sasy it's a Web-Resume.
                Developed using HTML and CSS only. Its a responsive Web-page.
              </p>
              <a href="https://mechatron00.github.io/WebResume/" target="_blank"
                class="btn btn-primary open-button">Open</a>
            </div>
          </div>
        </div>
        <!-- Weather-Application -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="../../assets/project-images/weather-app.png" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Weather-Application</h5>
              <p class="card-text">
                Weather-Application is developed using vanilla-Javascript.A easy and simple application to check live weather of any city. 
              </p>
              <a href="https://mechatron00.github.io/weather-application/" target="_blank"
                class="btn btn-primary open-button">Open</a>
            </div>
          </div>
        </div>
        <!-- Airline-Reservation-System -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="../../assets/project-images/Airline Reservation System.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Airline-Reservation</h5>
              <p class="card-text">
                Airline-Reservation-System is built in as an REST api. An API to manage pasenger data and reservation data along with flight data.In future I will implement it's user interface.
              </p>
              <a href="https://github.com/Mechatron00/Airline-Reservation-System.git" target="_blank"
                class="btn btn-primary open-button">Open</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Content -->

    <!--Section: Content-->
    <hr class="my-5" />
    <section>
      <div>
        <h4 class="text-center" style="width: 100%"><strong>More</strong></h4>
      </div>
      <p class="text-muted" style="text-align: left">
        In the world of boundless beauty and enchanting landscapes, there exists
        an individual whose life revolves around the pursuit of awe-inspiring
        moments and the art of capturing them through the lens of a camera. I am
        a passionate photographer, trekker, explorer, and avid reader, whose
        unyielding love for nature and insatiable curiosity have paved the way
        for an extraordinary journey filled with both visual and intellectual
        wonders. A true advocate for the beauty of diversity, I have cultivated
        a vibrant photo portfolio on Behance. My photographs serve as a reminder
        that every pixel holds a story, every landscape is a masterpiece, and
        every reader has an explorer within them waiting to be awakened. So,
        join me on this extraordinary odyssey, where the worlds of adventure,
        exploration, photography, and wisdom follow me on<a href="https://www.behance.net/dineshdixit" role="button"
          rel="nofollow" target="_blank">
          Behance.
        </a>
      </p>
    </section>

    <hr class="my-5" />
    <section class="mb-5" id="contact">
      <h4 class="mb-5 text-center"><strong>Contact me</strong></h4>

      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <form>
            <!-- <!-- 2 column grid layout with text inputs for the first and last names  -->
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example1" class="form-control" />
                  <label class="form-label" for="form3Example1">First name</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example2" class="form-control" />
                  <label class="form-label" for="form3Example2">Last name</label>
                </div>
              </div>
            </div>

            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control" />
              <label class="form-label" for="form3Example3">Email address</label>
            </div>

            <div class="form-outline mb-4">
              <textarea type="text" id="form3Example4" cols="30" rows="10" class="form-control"></textarea>
              <label class="form-label" for="form3Example4">Message</label>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-block mb-4">
                send
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!--Section: Content
    </div>
  </main>
  <!--Main layout-->

    <!--Footer-->
    <footer class="bg-light text-lg-start" style="width: 100%;">
      <hr class="m-0" />

      <div class="text-center py-4 align-items-center">
        <p>Follow me on social media</p>

        <a href="https://www.linkedin.com/in/dinesh-dixit" class="btn m-1" role="button" rel="nofollow" target="_blank"
          style="color: white">
          <fa-icon class="icon-appearance" [icon]="faLinkedin"></fa-icon>
        </a>
        <a href="https://github.com/Mechatron00" class="btn m-1" role="button" rel="nofollow" target="_blank">
          <fa-icon class="icon-appearance" [icon]="faGithub"></fa-icon>
        </a>
        <a href="https://www.instagram.com/mechatron2022/" class="btn m-1" role="button" rel="nofollow" target="_blank">
          <fa-icon class="icon-appearance" [icon]="faInstagram"></fa-icon>
        </a>
        <a href="https://www.behance.net/dineshdixit" class="btn m-1" role="button" rel="nofollow" target="_blank">
          <fa-icon class="icon-appearance" [icon]="faBehance"></fa-icon>
        </a>
      </div>

      <!-- Copyright -->
      <div class="text-center p-3">
        © Copyright:
        <a class="text-dark" href="#">@Dinesh Dixit (dixitdinesh52@gmail.com)</a>
      </div>
      <!-- Copyright -->
    </footer>
  </div>
</main>